<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>it is an error </title>
    <style>
        body{
            background-color: aqua
        }
    </style>
</head>
<body > 
    <h1 style='align-text:center'>HAHAHAHHA.com</h1>
    <h1 style='align:center'>error has occured</h1>
    <img src="errorPic.jpg" alt="error gf"  >
    {{message}}
</body>
</html>