
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
  
    /* Full height */
    height: 50%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #profilepic{
      border-radius:100%;
      align-self: center;
      width:20%;
      height:50%;
  }

  .card{
    margin-left:2%;
  }

  .posts{
    margin-top:3%;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @media screen and (max-width: 600px) {
    
  #profilepic{
    border-radius:100%;
    align-self: center;
    width:30%;
    height:30%;
}

  }