.back{
    overflow:hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.menuSet{width:100%;
    border-bottom:1px solid black;
    overflow:auto;
    white-space:nowrap;
    overflow: -moz-scrollbars-none;
    
}
.menuSet::-webkit-scrollbar{width:0 !important}

.options{
    display:inline-block;
    padding:10px;
    cursor: pointer;
}
h5{
    font-weight: 600 !important;
}
h3{
    font-weight: bold !important;
}
.options:hover {
    border-bottom:2px solid blue;
    color:blue;
    transition: all 0.1s;
}


#deleteBtn{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: aqua;
    box-shadow: 1px 1px 1px 1px,2px 2px 2px 2px rgb(158, 54, 50);
    padding-left:40px;
    padding-right:40px;
    padding-top:10px;
    padding-bottom:10px;
    border:none;
    border-radius: 0px
}
#deleteBtn:hover{
    background-color: aliceblue;
    color:rgb(69, 0, 230);
    opacity:0.5;
    transition:all 0.8s;
}
#deleteBtn:active:after{
    opacity:1;
    
}
input[type=time],input[type=email],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

input[type=time] {
    width: 70vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }  
.sButton{
    padding:10px;
    background-color: black;
    border-bottom:2px solid blue;
    border-right: 1px solid blue;
    color:white;
    cursor: pointer;
    align-self: center;
}

.sButton:active{
    padding:10px;
    background-color: white;
    border: 1px solid crimson;
    color:crimson;
}

#image{
  border-radius:100%;
  align-self: center;
  width:70px;
  height:70px;  
  border:1px solid black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

details summary::-webkit-details-marker{
    display:none
}

details summary{
    cursor: pointer;
}