.menuSet{width:100%;
    border-bottom:1px solid black;
    overflow:auto;
    white-space:nowrap;
    overflow: -moz-scrollbars-none;
    
}
.menuSet::-webkit-scrollbar{width:0 !important}

.options{
    display:inline-block;
    padding:10px;
    cursor: pointer;
}
h5{
    font-weight: 600 !important;
}

h3{
    font-weight: bold !important;
}
.options:hover {
    border-bottom:2px solid blue;
    color:blue;
    transition:  color border-bottom 2s;
}
input[type=time],input[type=email],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

input[type=time] {
    width: 70vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }  
.sButton{
    padding:10px;
    background-color: black;
    border-bottom:2px solid blue;
    border-right: 1px solid blue;
    color:white;
    cursor: pointer;
    align-self: center;
}

.sButton:active{
    padding:10px;
    background-color: white;
    border: 1px solid crimson;
    color:crimson;
}

#image{
  border-radius:100%;
  align-self: center;
  width:70px;
  height:70px;  
  border:1px solid black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

details summary::-webkit-details-marker{
    display:none
}

details summary{
    cursor: pointer;
}