body {font-family: Arial, Helvetica, sans-serif;background-color: rgb(251, 253, 137);}

.nopadding{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
#main{
  height: 100vh;
  margin-left: 30vh;
}
.section-top{
  display:flex;
  align-items: center;
  text-align:center;
  justify-content: center;
  width: 100%; 
  padding:5px;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  align-content:space-between;
}

/* Full-width input fields */
input[type=text], input[type=file],input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.addbutton {
  background-color: crimson;
  font-weight: bold;
  color: gold;
  padding: 10px 10px;
  margin: 3vh 0;
  border: 1px solid rgb(233, 240, 240);
  cursor: pointer;
  width: 100%;
}

.menuBtn{
  background-color: rgb(250, 250, 253);
  border: 1px solid rgb(255, 251, 0);
  color:black;
  border-radius: 10px;

}
#openMenuBtn {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
  top: 50vh;
  z-index: 1;
}

#openMenuBtn:hover {
  background-color: #444;
}

.menuOption{
  background-color:white;
  color:crimson;
  font-weight: bold;
  padding: 15px 10px;
  min-width: 100%;
  border: none;
  cursor: pointer;
}
.menuOption:hover{
  background-color:lightgoldenrodyellow;
  color: #f44336;
  transition: all 0.5s;
}

.addbutton:hover {
  background-color: gold;
  color: crimson;
}

/* Modal Content/Box */
#mySidebar {
  height: 100%;
  width: 30vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  box-shadow: rgba(0,0,0,0.55) 45px 0px 50px -55px;
  overflow-x: hidden;
  transition: all 0.5s;
  background-color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.animateMenu {
  -webkit-animation: slide 0.5s;
  animation: slide 0.5s;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  margin: 18px 4px;
  padding: 10px 18px;
  background-color:lightgray;
  color: crimson;
}
.cancelbtn:hover{
  color: gold;
  background-color: gray;
}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.avatar {
  width: 26vh;
  height:26vh;
  border-radius: 50%;
  overflow:hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.containeraddimage {
  padding: 16px;
}

.container{
  padding-top:10px;
  padding-bottom:10px;
}
span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.addImgModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 30px;
}

/* Modal Content/Box */
.modal-content-form {
  background-color: #fefefe;
  margin: 1% auto ; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}


body, html {
  height: 100%;
  width:100%;
  margin: 0;
}

.bg {
  
  /* Full height */
  height: 50%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
details summary::-webkit-details-marker {
  display:none;
}

#profilepic{
  border-radius:100%;
  align-self: center;
  height:85%;  
  border:1px solid black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.flex-container {
  padding: 0;
  margin: 1%;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
}

.flex-item {
  background: ghostwhite;
  padding: 2px;
  margin:1px;
  width: 10%;
  height: 15%;  
  max-width: 20%;
  max-height: 20%;  
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  object-fit: cover;
  align-items: center;
  
}

.sizeImg{
  height:70% ;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  text-decoration: none;
}
a.hover{text-decoration: none;}
.size{
  align-items: center;
  text-align:center;
  width:22vw;
  height: 22vw;
}
.active {
  background-color: crimson;
  color: white;
}
.dropdown-content {
  display: none;
  background-color:lightgoldenrodyellow;
  width: 100%;
  -webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}
.dropdown-content div{
  color:orangered;
  padding: 15px 10px;
  min-width: 100%;
  cursor: pointer;
}
.dropdown-content div:hover {background-color: #f1f1f1}

.wallBox{
  height: 70%; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  flex-wrap: wrap;
  box-shadow: rgb(47, 63, 81) 0px 20px 30px -10px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.wallBox-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.bg {
  height: 100%;
  width: 70%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wallBox-item-btn{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-end;
  align-self: center;
  width:14vw;
  height:8vw;
}

.sendMsg {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  color: rgb(0, 221, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding-left:30px;
  padding-right:30px;
  padding-top:7px;
  padding-bottom:7px;
  border:none;
  border-radius: 5px;
}

.sendMsg:hover {
  background-color: rgb(0, 140, 255);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color:rgb(255, 255, 255);
  opacity:0.5;
  transition:all 0.5s;
}

#profilepic{
  border-radius:100%;
  align-self: center;
  width:10vw;
  height: 10vw;
  margin: 1%;
  overflow:auto;
}

#profilepicbg{
  border: 5px solid white;
  border-radius:100%;
  align-self: center;
  width:14vw;
  height:14vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.userProfile{
  top:-20%;
  position: relative; 
  left:-10%;
}

.userWallName{
  font-size:2em;
  font-family: Georgia, serif;
  color:brown;
  left: 20%;
  top:20%;
  position: relative;
}

@media screen and (min-device-width:300px)and (max-device-width:800px){
    
  .flex-item {
    width: 33%;
    height: 30%; 
    max-width: 32.75%;
    max-height: 30%;  
    
  }
  
  .size{
    width:22vw;
    height: 22vw;
  }

}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
@media screen and (min-width: 900px) {
  

}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
  
  span.psw {
     display: block;
     float: none;
  }
 
  .size{
    width:26vw;
    height: 26vw;
  }
   
.avatar {
  width: 25vw;
  height:25vw;
  border-radius: 50%;
}
  .modal-content-form {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  
  #profilepic{
    border-radius:100%;
    align-self: center;
    width:95%;
    height:95%;
  }

  .menuBtn {
    margin: 1px 0;
    font-size: 1em;
    padding-top:3px;
    padding-bottom:3px;
    border-radius:10%;
  }
}


.posts{
  margin:3%;
}