
body, html {
  height: 100%;
  width:100%;
  margin: 0;
}


.bg {
  height: 50%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.UserName{
  font-size:4em;
  color:black; 
  font-weight:bold;
  display:block;
  text-align:center;
}
#profilepic{
  border-radius:100%;
  align-self: center;
  width:10vw;
  height: 10vw;
  margin: 1%;
  overflow:auto;
}


#profilepicbg{
  border-radius:100%;
  align-self: center;
  width:13vw;
  height:13vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flex-container {
  padding: 0;
  margin: 1%;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-content: center;
}

.flex-item {
  background: ghostwhite;
  padding: 2px;
  margin:1px;
  width: 10%;
  height: 15%;  
  max-width: 20%;
  max-height: 20%;  
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  object-fit: cover;
  align-items: center;
  
}

.sendMsg {
  background-color: rgb(222, 218, 248);
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  margin: 8px 0;
  border: 1px solid cyan;
  cursor: pointer;
  font-size:1em;
  margin-left: 45%;
  white-space:normal;
}

.sendMsg:hover {
  background-color: rgb(0, 0, 0);
  color:white;
  transition:all 1s;
}
a{
  text-decoration: none;
}
.size{
  height:100% ;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-width:501px)and (max-device-width:1000px){
  .flex-item {
    width: 25%;
    height: 25%; 
    max-width: 25%;
    max-height: 25%;  
  }
}
@media screen and (min-device-width:300px)and (max-device-width:500px){
    
  .flex-item {
    width: 34%;
    height: 25%; 
    max-width: 33%;
    max-height: 30%;  
    
  }
    
  #profilepicbg{
    border-radius:100%;
    align-self: center;
    width:22vw;
    height: 22vw;
  }

  .sendMsg{
    font-size:0.6em;
    align-self:center;
    width:20vw;
  }

  .UserName{
    font-size:2em;
  }
}