body, html {
  height: 100%;
  width:100%;
  margin: 0;
  background-color: lightgray;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

/* The Modal (background) */
.addImgModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 30px;
}

.container{
  padding-top:10px;
  padding-bottom:10px;
}
.containeraddimage {
  padding: 16px;
}
/* Modal Content/Box */
.modal-content-form {
  background-color: #fefefe;
  margin: 1% auto ; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.avatar {
  width: 40vh;
  height:40vh;
  border-radius: 50%;
  overflow:hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.UserName{
  font-size:4em;
  color:black; 
  font-weight:bold;
  display:block;
  text-align:center;
}

.wallBox{
  height: 70%; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  flex-wrap: wrap;
  box-shadow: rgb(47, 63, 81) 0px 20px 30px -10px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.wallBox-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.bg {
  height: 100%;
  width: 70%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#profilepic{
  border-radius:100%;
  align-self: center;
  width:10vw;
  height: 10vw;
  margin: 1%;
  overflow:auto;
}

#profilepicbg{
  border: 5px solid white;
  border-radius:100%;
  align-self: center;
  width:14vw;
  height:14vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.userProfile{
  top:-20%;
  position: relative; 
}

.userWallName{
  font-size:2em;
  font-family: Georgia, serif;
  color:brown;
  left: 20%;
  top:20%;
  position: relative;
}

.wallBox-item-btn{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-end;
  align-self: center;
  width:14vw;
  height:8vw;
}

.flex-container {
  padding: 0;
  margin: 1%;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
}

.flex-item {
  background: ghostwhite;
  padding: 2px;
  margin:1px;
  width: 10%;
  height: 15%;  
  max-width: 20%;
  max-height: 20%;  
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  object-fit: cover;
  align-items: center;
  
}

.sendMsg {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  color: rgb(0, 221, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding-left:30px;
  padding-right:30px;
  padding-top:7px;
  padding-bottom:7px;
  border:none;
  border-radius: 10px;
}

.sendMsg:hover {
  background-color: rgb(0, 140, 255);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color:rgb(255, 255, 255);
  opacity:0.5;
  transition:all 0.5s;
}

button:active:after{
  opacity:1;
}

a{
  text-decoration: none;
}

.size{
  height:100% ;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-width:501px)and (max-device-width:1000px){
  .flex-item {
    width: 25%;
    height: 25%; 
    max-width: 25%;
    max-height: 25%;  
  }

  #profilepicbg{
    border: 5px solid white;
    border-radius:100%;
    align-self: center;
    width:15vh;
    height:15vh;
    position: relative;
  }

  .userProfilePic{
    top:-5%;
  }
  
  .userWallName{
    font-size:1.5em;
    top:-15%;
  }

  .bg {
    height: 100%;
    width: 100%; 
  }

}
@media screen and (min-device-width:300px)and (max-device-width:500px){
    
  .flex-item {
    width: 33%;
    height: 25%; 
    max-width: 32.7%;
    max-height: 30%;  
    
  }
        
  .avatar {
    width: 25vw;
    height:25vw;
    border-radius: 50%;
  }

  #profilepicbg{
    border: 5px solid white;
    border-radius:100%;
    align-self: center;
    width:15vh;
    height:15vh;
    position: relative;
  }

  .userProfilePic{
    top:-10%
  }
  
  .userWallName{
    font-size: 1.5em;
    top:-5%;
  }

  .bg {
    height: 100%;
    width: 100%;
  }

  .sendMsg{
    font-size:1em;
    align-self:left;
    width:28vw;
    margin-left:0%;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    color: cyan;
    border-radius: 10px;
    margin: 2px 0;
    border: 1px solid cyan;
    cursor: pointer;
    padding: 3px 1px;
    white-space:normal;
  }

  .sendMsg:hover {
    background-color: aliceblue;
    color:rgb(69, 0, 230);
    opacity:0.5;
    transition:all 0.8s;
  }
  .UserName{
    font-size:2em;
  }
}