<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Chatk</title>
  <link rel="stylesheet" href="./style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
	</head>
	<body  background= '#c23616';>
		{{>navbar}}
		<div style='margin:2%'> 
		  <div>
			 <form action="/user/chat" method="post">
			    <input class='searchInput' type="text" name='searchUser' placeholder="search user to chat..">
				<input type="hidden" value={{username}} id='username'>
				<input type="hidden" value={{chatWith}} id='chatUser'>
			    <button class='searchBtn' type="submit">search</button>		 
			 </form> 
          </div>
		  	hello,{{username}}
 		</div>
	    <div id='waitingMsgContainer'>
			<select name="waitingMsg" id="waitingMsg">

			</select>
		</div>
		<div class=" h-100">
			<div class="row justify-content-center h-100" style='margin-left:0px;margin-right:0px;'>
				
				<div class="col-md-8 col-xl-6 col-sm-12 chat" style='flex-basis: 100%; max-width: 90%;'>
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="#" alt='pic' class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Chat with {{chatWith}}</span>
									<p>1767 messages</p>
								</div>
							</div>
							<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
									<li><i class="fas fa-user-circle"></i> View profile</li>
									<li><i class="fas fa-users"></i> Add to close friends</li>
									<li><i class="fas fa-plus"></i> Add to group</li>
									<li><i class="fas fa-ban"></i> Block</li>
								</ul>
							</div>
						</div>
						<div class="card-body msg_card_body" id='chat_messages'>
							
						</div>
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
								</div>
								<textarea name="" class="form-control type_msg" id='send_msg' placeholder="Type your ..."></textarea>
								<div class="input-group-append">
									<span class="input-group-text send_btn" id='msg_btn'><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<!-- partial -->
  <script  src="./script.js"></script>
  <script src="./socketClient.js"></script>
</body>
</html>