<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
  <style>
    
    .user_btn{
      background-color: chartreuse;
      color:chocolate;
      border:none;
      padding-left:20px;
      padding-right: 20px;
      padding-top: 7px;
      padding-bottom: 7px;
      font-family: 'Courier New', Courier, monospace;
      border-radius:12px;
    }


    .selected{
      background-color: aqua;
      color:darkblue;
      font-size: 20px;
      border-radius: 20px
    }  
    

  </style>
  </head>
  <body>
     <h3 id="user_name"></h3>
    <div id='msg' >
        <h2>messaging</h2><br>
          massage:<input type="text" placeholder="enter message here..." id="send_msg">
          <button id="msg_btn">send message</button>      
    </div>
      
    <ul id="user_list" ></ul>
      
    <div id="div_recieve" style="display:none">
        messages recieved:
        <ul id="recieved_msg"></ul>
    </div>
     
      
    <div id="div_sent" style="display:none">
        messages you sent:
        <ul id="sent_msg"></ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="script.js"></script>
    </script>

  </body>
</html>